footer {

    background: #FECB00;
    margin-top: 10%;
}

.title {
    font-family: "Orbitron", sans-serif;;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #242424;
    
    
}

.logoLinkedin{

    color:#1d74b3 ;
    
}